@font-face{
    font-family: 'inter-400';
    font-weight: 400;
    src: url(../fonts/inter/Inter-Regular.ttf);
}
@font-face{
    font-family: 'inter-500';
    font-weight: 500;
    src: url(../fonts/inter/Inter-Medium.ttf);
}
@font-face{
    font-family: 'inter-600';
    font-weight: 600;
    src: url(../fonts/inter/Inter-SemiBold.ttf);
}