/* 1260 */
@media(max-width: 1260px){
  .container{
    max-width: 1024px;
  }

  .about .left{
    width: 70%;
  }

  .about .right{
    width: calc(30% - 22px);
  }

  .about .left .img{
    width: 100%;
  }

  .about .right .img{
    width: 100%;
  }

  .rooms .wrapper{
    gap: 20px;
    overflow-x: scroll;
  }

  .services .wrapper{
    justify-content: center;
  }

  .location .wrapper{
    justify-content: center;
  }
  .relax .wrapper .text{
    max-width: 420px;
  }
}
/* 1024 */
@media(max-width: 1024px){
  .container{
    max-width: 768px;
  }

  .header .container{
    display: none;
  }
  .btn{
    font-size: 20px;
    padding: 18px;
  }
  .hero .wrapper .subtitle{
    font-size: 20px;
  }
  .hero .wrapper .title{
    font-size: 35px;
  }

  .hero .button-wrap .btn{
    padding: 20px 80px;
  }

  .about .wrapper{
    flex-direction: column;
  }
  .about .left{
    width: 100%;
  }
  .about .right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 300px;
  }
  .about .right .image{
    height: 100%;
  }
  .about .right .image-wrap:nth-child(2){
    order: -1;
    width: calc(40% - 15px);
  }
  .about .right .image-wrap:nth-child(1){
    width: 60%;
  }
  .services .card{
    width: 345px;
  }
  .location .image{
    width: 60%;
    border-radius: 20px;
    overflow: hidden;
  }
  .location .small{
    width: calc(40% - 15px);
  }
  .location .wrapper{
    gap: 15px 0;
    justify-content: space-between;
  }
  .relax .wrapper{
    background-image: none;
  }
  .relax .wrapper .text{
    max-width: 100%;
  }
}
/* 768 */
@media(max-width: 768px){
  .container{
    max-width: 425px;
  }
  h1, h2, h3, h4{
    font-size: 30px;
  }
  .about .card{
    padding: 25px;
  }
  .location .image{
    height: 200px;
  }
  .presentation .video-wrap{
    height: 350px;
    border-radius: 25px;
  }
  .relax .wrapper{
    padding: 25px;
  }
  .map .iframe{
    height: 250px;
  }
  .map .info{
    position: relative;
    background: none;
    border-radius: 9px;
    padding: 15px;
    box-shadow: none;
    width: 100%;
  }
  .map .wrapper{
    box-shadow: none;
  }
}
/* 425 */
@media(max-width: 425px){
  .container{
    max-width: 100%;
  }
  .hero .button-wrap{
    padding: 0;
    justify-content: center;
  }
}
/* 375 */
@media(max-width: 375px){

}